body {
  background-color: #FFF;
}

.logo {
  margin: 3em auto;
  width: 13em;
}

/********** Navigation Menu **********/

.menu {
  font-family: 'Major Mono Display', monospace;
  font-size: 1.25em;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  color: #000;
  display: block;
  margin: 0.5em auto;
  border-radius: 10px;
}

.menu:hover {
  background-color: gold;
}

.intro {
  font-family: 'Major Mono Display', monospace;
  max-width: 19em;
  padding: 0.5em;
  position: absolute;
  top: 3em;
  left: 5em;
  color: #FFF;
  font-weight: 800;
  background-color: rgb(77, 77, 77, 50%);
  font-size: 0.75em;
}

.main-img {
  margin: 0 auto;
  position: relative;
  padding: 1em 2em;
  background-image: url("img/cn-tower.jpeg");
}

.main-img img {
  border: 2px solid #000;
}

/********** Photo Gallery Content **********/

.sub-menu {
  border: 2px solid #000;
  justify-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em 2em;
  padding: 1em;
}

/********** Photographers banners **********/

.photographer {
  font-family: 'Major Mono Display', monospace;
  font-size: 1em;
  background-color: #000;
  padding: 1em;
  color: #FFF;
}

.photographer a:hover {
  color: gold;
}

.photographer a {
  text-decoration: none;
  color: #FFF;
  border: solid 2px #6B8E23;
  padding: 2px;
  margin-left: 1em;
}

/********** Footer Style **********/

.contact {
  background-color: #000;
  color: #FFF;
  margin: 1em 1em;
  padding: 1em 1em;
  font-family: 'Major Mono Display', monospace;
}

.contact a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}

/********** Media Queries **********/

@media screen and (min-width: 500px) {
.menu {
  display: inline-block;
  margin-left: 2em;
  padding: 5px;
  border: 1px solid black;
}

.menu:hover {
  background-color: gold;
  padding: 7px;
}

.logo {
  width: 20em;
  margin: 3em 3em;
}

.intro {
  font-size: 1em;
  max-width: 15em;
  line-height: 1.5;
}

.gallery {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em 1em;
  justify-items: center;
  }

.photographer {
  text-align: right;
}

.photographer {
  font-size: 1.5em;
  }
}